* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.volunteers {
  width: 80%;
  margin: 60px auto;
}

.volunteers h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.line {
  display: block;
  width: 80px;
  height: 4px;
  background: #f4b400;
  margin-bottom: 30px;
}

/* CARD */
.card {
  background: #fff;
  display: flex;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* LEFT */
.left {
  width: 50%;
}

.left img {
  width: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.info h3 {
  font-size: 102px;
}

.info h4 {
  color: #030303;
  font-weight: normal;
  margin-bottom: 15px;
  margin-bottom: 90px;
}

.left p {
  margin-top: 15px;
  line-height: 1.6;
}

/* DIVIDER */
.divider {
  width: 1px;
  background: #ddd;
  margin: 0 30px;
}

/* RIGHT */
.right {
  width: 50%;
}

.right img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.right h4 {
  margin-bottom: 10px;
}

.muted {
  color: #777;
  line-height: 1.6;
}
